@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
* {
  margin: 0;
  padding: 0;
 font-family: 'Special Elite', cursive;
}
#main {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
  background: var(--bck);
  color: var(--font);
}
.wrapper {
  display: flex;
  flex-direction: column;
  background: var(--element);
  transform: skew(-10deg, 10deg) scale(1.1);
  animation: anim 14s infinite;
}
.element {
  font-size: 13rem;
  
}

@keyframes anim {
  0% {transform: skew(-10deg, 10deg) scale(1.1)}
  25% {transform: skew(10deg, -10deg) scale(1)}
  50% {transform: skew(-10deg, 10deg) scale(1)}
  75% {transform: skew(10deg, -10deg)scale(1.1)}
  99% {transform: skew(-10deg, 10deg)scale(1.1)}
}
