<h4 class="text-center text-info">{{ product.title }}</h4>
<div class="container">
  <img src="{{ product.imageUrl }}" style="max-width: 20rem; margin: 1rem" />
  <div>
    <h5><span>price:</span> {{ product.price }}</h5>
    <h5><span>Quantity:</span> {{ product.quantity }}</h5>
    <p style="font-size: 20px;">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores
      accusantium id repellat vero, quae tempore similique suscipit quod itaque
      deleniti.
    </p>
  </div>
</div>
